* {
    margin: auto;
    padding: 0%;
    box-sizing: border-box;
}

.container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

button {
    width: 100px;
    height: 60px;
    font-size: 10pt;
    margin: 3px;
    font-size: 10.3pt;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}